* {
     margin: 0;
     padding: 0;
}

:root {

     --colorPrimario: #638BAB;
     --colorPrimario1: #F0F4F6;
     --colorPrimario2: #064E52;
}

html {
     scroll-behavior: smooth;
}


/* HEADER */
/*-----------------------------------------------------*/

header {
     display: flex;
     justify-content: space-around;
     align-items: center;
}

a {
     text-decoration: none;
     color: black;
}

nav>a {
     margin-left: 15px;
}

.hamburguesa {
     color: black;
     display: none;
     cursor: pointer;
     font-size: 32px;

}

/*-Tamaño para poder verlo en chico*/

@media(max-width:500px) {

     /*nav,
     div {
          display: none;
     }

     .hamburguesa {
          display: block;
          color: black;
     }*/
     header {
          flex-direction: column;
     }

     nav {
          display: flex;
          flex-direction: column;
     }
}


.contenedorHero {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     height: 100vh;
     background: linear-gradient(90deg, rgba(121, 118, 172, 0.2) 11%, rgba(55, 67, 94, 0.2) 53%, rgba(0, 212, 255, 0.2) 100%),
          url(./Imagenes/natalie-toombs-Zwl3zlN4qtw-unsplash.jpeg);
     background-size: cover;
     background-position: center;

}


.tituloHero {
     font-size: 4rem;
     text-transform: uppercase;
     color: white;
     padding: 1.5rem 0;
     text-align: center;
}

.textoHero {
     font-size: 1.5rem;
     color: white;
     max-width: 50%;
     text-align: center;
     padding-bottom: 1.5rem 0;
}

.btnHero {
     padding: 0.9rem 1.6rem;
     border: 1px solid white;
     font-size: 2rem;
     cursor: pointer;
     text-transform: uppercase;
     color: white;

     background-color: transparent;

}

/*----------------------------------------------------------*/
/* section-*/
.aboutImagen {
     width: 30%;
}

.textoPrincipal {
     text-align: center;
     text-transform: uppercase;
     padding: 50px 0;
     letter-spacing: 0.5rem;
     font-size: 2rem;

}

.ContenedorImgTexto {

     display: flex;
     justify-content: center;
     width: 100%;
     flex-wrap: wrap;
     align-items: center;

}

.ContenedorTextoAbout {
     width: 40%;
     margin-left: 3.5rem;

}

.btnAbout {
     background-color: var(--colorPrimario);
     font-size: 1rem;
     padding: 5px;
     color: white;
     letter-spacing: 0.5rem;
     text-transform: uppercase;
     border: 1px solid var(--colorPrimario);
}



span {
     color: var(--colorPrimario);
}

.about {
     padding-bottom: 3.5rem;
}

/*------------------------------------------------*/
/*seccion servicios*/
.servicios {

     background-color: #F0F4F6;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;

}

.contenedorServicios {
     display: flex;

     width: 70%;



}

.contenedorTextoServicios {
     margin-left: 1rem;
}

.colorIcon {
     font-size: 1.5rem;
     background-color: var(--colorPrimario);
     height: 30px;
     padding: 15px;
     color: var(--colorPrimario2);

}

/*-----------------------------------------------*/
/*Featured tours---cards--*/
.contenedorTarjetas {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     flex-wrap: wrap;
     gap: 20px;
     padding: 30px;
}

.tarjeta {
     width: 250px;
     background-color: #F0F4F6;
     padding-bottom: 50px;
     display: flex;
     flex-direction: column;
     align-items: center;
}


.tarjeta>img {
     width: 100%;

     height: fit-content;
}

.texto-tarjeta,
.boton {
     text-align: center;

}




/*---------------------------*/

.galeria {
     display: flex;
     flex-wrap: wrap;


}

img {
     width: 25%;
}

@media(max-width:900px) {
     img {
          flex-basis: 50%;

     }
}

@media(max-width:500px) {
     img {
          flex-basis: 100%
     }
}