.container {
     background-color: aqua;
     height: 300px;

}

img {
     z-index: 0;
     width: 290px;
}

.cubo {
     width: 150px;
     height: 150px;
     background-color: brown;
     border: 2px solid black;
     margin: 10px;
     font-size: larger;
     font-weight: bolder;
}

.uno {
     background-color: orange;
     position: relative;
     top: 100px;
     left: 190px;
}

.dos {
     background-color: violet;
     position: absolute;
     bottom: 1px;
     right: 10px;
}

.fondo {
     width: 300px;
     height: 300px;
     position: relative;


}



.textoInterno {
     position: absolute;
     top: 50px;
     left: 45px;
}

.tres {
     background-color: yellow;
     position: fixed;
     bottom: 10px;
     right: 10px;
     z-index: 1;

}

.cuatro {
     position: sticky;
     top: 0px;
}